:root {
    --primary-color: #e53170;
    --bg-color: #0f0e17;
    --link-color: #5092e3;
}

/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* Debug */
    /* border: 1px solid black; */
}

body {
    font-family: "Fredoka", sans-serif;
}

a {
    color: inherit;
}

/* COMMON */
.section {
    padding: 2rem 0;
    /* Debug */
    border: 1px solid green;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.section-title {
    color: var(--primary-color);
    font-size: 2rem;
    margin-bottom: .5em; /* praticamente 1 rem in questo caso */
}

p {
    margin-bottom: 1em;
}

/* Utilities classes */
.text-center {
    text-align: center;
}

/* Grid classes */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
    width: calc(100% / 3 - 20px);
    margin: 10px;
    /* padding: 1rem; */
    /* Debug */
    border: 1px solid blue;
}

/* Card of team memeber */

.card {
    background-color: var(--bg-color);
    color: white;
}

.card-image {
    float: left;
    width: 100px;
}

.card-content {
    float: right;
    width: calc(100% - 100px);
    padding: 5px 10px;
    /* padding-left: 110px; */
} 

.name {
    margin-bottom: .4rem;
}

.card-content a {
    color: var(--link-color);
}